# Python Operators

<h2> Aritmatik Operator </h2>
<li>Penambahan (Addition) ==> +</li>
<li>Pengurangan (Subtration) ==> -</li>
<li>Perkalian (Multiplication) ==> *</li>
<li>Pembagian (Division) ==> /</li>
<li>Sisa Bagi (Modulus) ==> %</li>
<li>Pangkat (Exponent) ==> **</li>

<h2>Operator Perbandingan</h2>
<li>Sama Dengan (Equal) ==> ==</li>
<li>Tidak Sama Dengan (Not Equal) ==> !=</li>
<li>Lebih Besar (Greater Than) ==> `>` </li>
<li>Lebih Kecil (Less Than) ==> `<` </li>
<li>Lebih Besar Sama Dengan (Greater Than or Equal) ==> `>=` </li>
<li>Lebih Kecil Sama Dengan (Less Than or Equal) ==> `<=` </li>

<h2>Logika Operator</h2>
<li>And (Dan) ==> and</li>
<li>Or (Atau) ==> or </li>
<li>Not (Tidak) ==> not</li>


<h2>Assignment Operators</h2>
<li>Add and ==> +=</li>
<li>subtract and ==> -=</li>
<li>multiply and ==> *=</li>
<li>devide and ==> /=</li>

# Aritmatik Operator
## 1. Penambahan (Addition)

In [1]:
skor_mm = 8
skor_fisika = 9
total_skor = skor_mm + skor_fisika
print("Total Skor ", total_skor)

Total Skor  17

In [2]:
skor_biologi = 7
print("Total skor", skor_biologi + 3)

Total skor 10

10

## 2. Pengurangan (Subtraction)

In [3]:
skor_mm = 8
skor_fisika = 9
total_skor = skor_mm - skor_fisika
print("Total Skor ", total_skor)

Total Skor  -1

In [4]:
skor_biologi = 7
print("Total skor", skor_biologi - 3)

Total skor 4

Total Kecepatan 2:  27.900000000000002

## 3. Perkalian (Multiplication)

In [5]:
panjang = 15
lebar = 10

luas = panjang * lebar
print("Luas : ", luas)

Luas :  150

In [6]:
panjang2 = 10.5
lebar2 = 4
luas2 = panjang2 * lebar2
print("Luas : ", luas2)

Luas :  42.0

In [7]:
tinggi = 3

isi = panjang * lebar * tinggi
print("Volume : ", isi)

Volume :  450

In [8]:
isi2 = luas * tinggi
print("Volume : ", isi2)

Volume :  450

In [9]:
isi3 = luas2 * tinggi
print("Volume : ", isi3)

Volume :  126.0

## 4. Pembagian (Multiplication)

In [10]:
harga_makanan = 15000
jumlah_piring = 3
print("harga per piring :", harga_makanan / jumlah_piring)

harga per piring : 5000.0

Harga per orang :  5000.0

## 5. Sisa Bagi (Modulus)

In [12]:
bil_ganjil = 9
bil_genap = 2
print("Sisa Bagi :", bil_ganjil % bil_genap)

Sisa Bagi : 1

In [13]:
bil_a = 2
bil_b = 4
print("Sisa Bagi : ", bil_a % bil_b)

Sisa Bagi :  2

hasil modulus : 2

## 6. Pangkat (Exponential)

In [14]:
bil_1 = 2
bil_2 = 3

In [17]:
print("Hasil Exponential 2 ** 3 : ", bil_1 ** bil_2)

Hasil Exponential 2 ** 3 :  8

# Operator Perbandingan
## 1. Sama Dengan (Equal) " == "

In [18]:
nil_andi = 8.5
nil_budi = 8.5

In [20]:
print(nil_andi == nil_budi)

True

In [22]:
nil_herman = 8

print(nil_herman == nil_andi)

False

## 2. Tidak Sama Dengan (Not Equal) " !="

In [23]:
print(nil_andi != nil_budi)

False

In [24]:
print(nil_herman != nil_andi)

True

## 3. Lebih Besar (Greater Than) " > "

In [25]:
nil_andi = 8.5
nil_budi = 8.5
nil_herman = 8

In [26]:
print(nil_andi > nil_budi)

False

In [28]:
print(nil_andi > nil_herman)

True

In [29]:
print(nil_herman > nil_andi)

False

## 4. Lebih Kecil (Less Than) " < "

In [30]:
nil_andi = 8.5
nil_budi = 8.5
nil_herman = 8

In [31]:
print(nil_andi < nil_budi)

False

In [32]:
print(nil_herman < nil_andi)

True

## 5. Lebih Besar Sama Dengan (Greater Than or Equal) " >= "

In [33]:
nil_andi = 8.5
nil_budi = 8.5
nil_herman = 8

In [34]:
print(nil_andi >= nil_budi)

True

In [35]:
print(nil_herman >= nil_andi)

False

## 6. Lebih Kecil Sama Dengan (Less Than or Equal) " <= "

In [36]:
print(nil_andi <= nil_budi)

True

In [37]:
print(nil_herman <= nil_andi)

True

# Logika Operator
## 1. Dan (And)

1. True
2. True
Hasil True

1. True
2. False
Hasil False

1. False
2. False
Hasil False

In [38]:
nil_andi = 8.5
nil_budi = 8.5
nil_herman = 8

In [39]:
# True and true
print(nil_andi == nil_budi and nil_herman < nil_andi)

True

In [40]:
# True and False
print(nil_andi == nil_budi and nil_herman > nil_andi)

False

In [41]:
# False and True
print(nil_herman > nil_andi and nil_andi == nil_budi)

False

In [42]:
# False and False
print(nil_herman > nil_andi and nil_andi > nil_budi)

False

In [43]:
print(nil_herman > nil_andi and nil_andi > nil_budi and nil_andi == nil_budi)

False

## 2. Atau (Or)

1. True
2. True
hasil True

1. True
2. False
Hasil True

1. False
2. False
Hasil False

In [44]:
# True or true
print(nil_andi == nil_budi or nil_herman < nil_andi)

True

In [45]:
# True or False
print(nil_andi == nil_budi or nil_herman > nil_andi)

True

In [46]:
# False or True
print(nil_herman > nil_andi or nil_andi == nil_budi)

True

In [47]:
# False or False
print(nil_herman > nil_andi or nil_andi > nil_budi)

False

In [48]:
# False or False or True
print(nil_herman > nil_andi or nil_andi > nil_budi or nil_andi == nil_budi)

True

## 3. Tidak (Not)

In [49]:
# Not(True or true)
print(not(nil_andi == nil_budi or nil_herman < nil_andi))

False

In [50]:
# not(True and False)
print(not(nil_andi == nil_budi and nil_herman > nil_andi))

True

In [51]:
# not(False or True)
print(not(nil_herman > nil_andi or nil_andi == nil_budi))

False

In [52]:
# not(False or False or True)
print(not(nil_herman > nil_andi or nil_andi > nil_budi or nil_andi == nil_budi))

False

In [55]:
# False and not(True)
print(nil_herman > nil_andi and not(nil_andi == nil_budi))

False

# Assignment Operators

## add and ==> +=

In [56]:
var_a = 3
var_a = var_a + 2
print(var_a)

5

In [57]:
var_b = 3
var_b += 2
print(var_b)

5

## subtract and ==> -=

In [58]:
var_c = 5
var_c = var_c - 3
print(var_c)

2

In [59]:
var_d = 5
var_d -= 3
print(var_d)

2

## multiply and ==> *=

In [60]:
var_e = 2
var_e = var_e * 2
print(var_e)

4

In [61]:
var_e = 2
var_e *= 2
print(var_e)

4

## devide and ==> /=

In [62]:
var_f = 8
var_f = var_f / 2
print(var_f)

4.0

In [63]:
var_g = 8
var_g /= 2
print(var_g)

4.0